
.emojiRowWrapper{
    width: 99%;
}
.emojiRow{
    position: relative;
    display:flex;
    width: 100%;
}
.emojiRow:hover {
background-color: lightslategray;

}

.emojiRow:hover .clipboard {
    visibility: visible;
    }

.clipboard{
    text-align: right;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-size: calc(8px + 1vmin);
}
.clipboard:hover{
    visibility: visible;
}